{% extends 'base.html' %}

{% block content %}
    <section class="flex mt-6">
        <ul class="deck preload">
            {% for item in parties %}
                <li class="card">
                    <a href="{% url 'app:chosen' item.id %}">
                        <div class="content">
                        <img src="{{ item.banner.url }}" alt="">
                    </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            load();
        });
    </script>
{% endblock content %}